<div class="content">
  <div class="container-fluid">
  	<div class="card">
	  	<div class="header">
	      <h2>New Organization</h2>
	    </div>
		<%= render 'form', organization: @organization %>
	</div>
  </div>
</div>