<div class="sidebar" data-color="red" data-image="<%= image_url('sidebar-5.jpg')%>">
   <div class="sidebar-wrapper">
       <div class="logo">
           <a href="http://www.creative-tim.com" class="simple-text">
                   Upcoming App
               </a>
       </div>

       <ul class="nav">
         
        </ul>
   </div>
</div>
